.gradient-custom-4 {
    /* fallback for old browsers */

    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(58, 58, 58), rgb(60, 115, 243));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,rgb(41, 42, 42)  ,rgb(248, 245, 245) );
}
